.profile__info {
    max-width: 336px;
    margin-right: auto;
    display: flex;
    justify-self: flex-start;
}

@media screen and (max-width: 970px) {
    .profile__info {
        margin: 22.25px 0 0;
        padding-left: 27px;
    }

}