.popup__error {
    width: 358px;
    position: absolute;
    display: flex;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.25;
    color: #FF0000;
    overflow: visible;
    visibility: hidden;
}

.popup__error:first-of-type {
    top: 152px;
}

.popup__error:last-of-type {
    top: 218px;
}

@media screen and (max-width: 459px) {
    .popup__error {
        width: 238px;
    }
}