.profile__avatar {
    width: 120px;
    height: 120px;
    position: relative;
    margin-right: 30px;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    cursor: pointer;
}

.profile__avatar:hover {
    opacity: 0.8;
}

.profile__edit-photo-button {
    background: url(../../../images/Pen-edit.svg) center no-repeat;
    width: 120px;
    height: 120px;
    position: absolute;
    border: none;
    display: none;
}

.profile__avatar:hover+.profile__edit-photo-button {
    display: inline-block;
}


@media screen and (max-width: 970px) {
    .profile__avatar {
        margin: 0;
    }

}