.profile__info {
    max-width: 336px;
    padding-right: 210px;
    display: flex;
    justify-self: flex-start;
}

@media screen and (max-width: 1023px) {
    .profile__info {
        padding: 0;
    }

}

@media screen and (max-width: 970px) {
    .profile__info {
        margin-top: 22.25px;
        padding-left: 30px;
    }

}