.elements__group {
    max-width: 246px;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    margin: 25px 15px 31px 21px;
    justify-content: space-between;
    background-color: #ffffff;
    border-radius: 10px;
}